<!-- <div>
  <h3>Some TEXT <app-button1></app-button1> SOME <app-button1></app-button1></h3>
</div> -->

<!-- <app-button1></app-button1> -->

<!-- <div *ngIf="courses.length > 0; else noCourses">
  List of courses
</div>

<ng-template #noCourses>
  No courses
</ng-template> -->

<!-- <button #btn (click)="btn.innerHTML='OK'">Click me</button> -->

<!-- <button (click)="is=!is" [ngStyle]="{
  'backgroundColor': is ? 'blue' : 'yellow'
}" style="font-size: 2em">Click me
</button> -->
<!-- <input type="text" appInputFormat>
<div>&and;&or;</div> -->
<!-- <zippy title="Sales">
  Sales details or form
</zippy>

<zippy [title]="'Shipping'">
  Shipping details or form
</zippy> -->

<!-- <contact-form></contact-form> -->

<!-- <posts></posts> -->

<!-- <div class="in-row">
  <clicker></clicker>
  <show-total></show-total>
  <clicker></clicker>
</div> -->
<nav></nav>