<nav class="nav-bar">
  <div class="container">
    <ul class="row"
        style="margin:0; padding:0">
      <li class="nav-item"
          routerLink=""
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact: true}">
        Home
      </li>

      <li class="nav-item"
          routerLink="/signup-form"
          routerLinkActive="active-link">
        Signup form
      </li>

      <li class="nav-item"
          routerLink="/posts"
          routerLinkActive="active-link">
        Posts
      </li>
    </ul>
  </div>
</nav>