/* :root {
  --nav-border-radius: 10px;
} */

.nav-bar {
  padding: 20px 0;
  background-color: #aaa;
}

/* .nav-container {
  display: flex;
} */

.nav-item {
  --nav-border-radius: 4px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
  border-radius: var(--nav-border-radius);
  width: 120px;
  /* transition: all 2s; */
}

/* .nav-item:hover {
  width: 150px;
  background-color: #ccc;
  transition: all .3s;
} */

.nav-item:not(:last-of-type) {
  margin-right: 10px;
}

.active-link {
  background-color: lightskyblue;
}